html {
	background-color: SeaGreen;
	font-size: 14px;
	width : 80%;
	margin: auto;
}

h1, h2 {
font-size: 30px;
}

#page {
	text-align: center;
	background-color: white;
	border: 4px solid black;
}

.entete {
	text-align: center;
}

#aboutme {
	
	text-align:left;
	margin-left: 30px;
	
}

footer {
	text-align: center;
	background-color: Gold;
	border: 2px solid black;
	
}

td, th {
	border: 1px solid black;
	text-align: center;
}

table{
	border-collapse: collapse;
}